POSTGRES_DB=btcusd
POSTGRES_USER=btcusd
POSTGRES_PASSWORD=replace-with-random-password
MARKET_DATA_PARQUET=/data/btcusd_1m.parquet
MARKET_DATA_TIMEOUT_SECONDS=30
RUST_LOG=info
TLS_CERT_DIR=./deployment/certs
